<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
<Files 403.shtml>
order allow,deny
allow from all
</Files>

deny from 2.88.130.142
deny from 185.36.190.255
deny from 66.249.79.75
